.app {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
  .app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    grid-column-gap: 1.5em;
  }
}

.input {
    width: 100%;
}

.output {
    grid-column: span 2;
}

.output-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-row-gap: 1em;
    grid-column-gap: 1em;
}

.output-row {
    display: contents;
}

.output-request-name {
    grid-column-start: 1;
    font-weight: bold;
    justify-self: end;
}

.output-inventory {
    grid-column-start: 2;
}

.invalid {
    border: 2px solid red;
}

.inventory-result {
    grid-row-start: 2;
}

.requests-result {
    grid-row-start: 2;
}

pre {
    font-family: mono;
}

/*     */

body {
  font-family: arial;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


@media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto 1fr auto;

  }
}

header {
  grid-column: span 3;
  padding: 30px;
  text-align: center;
  font-size: 1.4em;
  background-color: #369;
  color: white;
}

main {
  flex: 1;
  padding: 20px;
}

nav {
  padding: 20px;
}
 
aside {
  padding: 20px;
}

footer {
  grid-column: span 3;
  padding: 30px;
  text-align: center;
  font-size: 1.4em;
  background-color: #369;
  color: white;
}

h1 {
  margin-bottom: 1em;
  font-size: 1.3em;
  font-weight: bold;
}
