.app {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
  .app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    grid-column-gap: 1.5em;
    grid-template-areas:
        "inventory requests"
        "dbg_inv dbg_reqs"
        "out out";
  }
}

.input {
    width: 100%;
}

.output {
    grid-area: out;
}

.output-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-row-gap: 1em;
    grid-column-gap: 1em;
}

.output-row {
    display: contents;
}

.output-request-name {
    grid-column-start: 1;
    font-weight: bold;
    justify-self: end;
}

.output-inventory {
    grid-column-start: 2;
}

.invalid {
    border: 2px solid red;
}

.inventory-input {
    grid-area: inventory;
}

.requests-input {
    grid-area: requests;
}

.inventory-result {
    grid-area: dbg_inv;
}

.requests-result {
    grid-area: dbg_reqs;
}

pre {
    font-family: mono;
}

/*     */

body {
  font-family: arial;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


@media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto 1fr auto;

  }
}

header {
  grid-column: span 3;
  padding: 30px;
  text-align: center;
  font-size: 1.4em;
  background-color: #1d1d1d;
  color: white;
}

main {
  flex: 1;
  padding: 20px;
}

nav {
  padding: 20px;
}
 
aside {
  padding: 20px;
}

footer {
  grid-column: span 3;
  padding: 30px;
  text-align: center;
  font-size: 0.9em;
  background-color: #1d1d1d;
  color: white;
}

footer a {
  color: #ffa400;
}

h1 {
  margin-top: .5em;
  margin-bottom: 1em;
  font-size: 2em;
  font-weight: bold;
}

h2 {
  margin-top: .5em;
  margin-bottom: 0.5em;
  font-size: 1.7em;
  font-weight: bold;
  border-bottom: 1px solid #eaecef;
}

h3 {
  margin-top: .5em;
  margin-bottom: 0.2em;
  font-size: 1.2em;
  font-weight: bold;
}

ul {
    list-style: inside disc;
    margin-left: 1.3em;
}

p {
    margin-bottom: 1.3em;
}
